.sp-l1{
	 padding-left: 1px;
}
.sp-l2{
	 padding-left: 2px;
}
.sp-l5{
	 padding-left: 5px;
}
.sp-l10{
	 padding-left: 10px;
}
.sp-l20{
	 padding-left: 20px;
}
.sp-l60{
    padding-left: 60px;
}
.sp-r1{
	 padding-right: 1px;
}
.sp-r2{
	 padding-right: 2px;
}
.sp-r5{
	 padding-right: 5px;
}
.sp-l5{
	 padding-right: 5px;
}
.sp-r10{
	 padding-right: 10px;
}
.sp-r20{
	 padding-right: 20px;
}
.sp-c2{
    padding-left: 2px;
    padding-right: 2px;
}
.sp-c5{
    padding-left: 5px;
    padding-right: 5px;
}
.sp-c10{
    padding-left: 10px;
    padding-right: 10px;
}
.sp-c20{
    padding-left: 20px;
    padding-right: 20px;
}

.sp-mr2{
    margin-right: 2px;
}
.sp-mr5{
    margin-right: 5px;
}
.sp-mr10{
    margin-right: 10px;
}
.sp-mr20{
    margin-right: 20px;
}
.sp-mr50{
    margin-right: 50px;
}
.sp-mr100{
    margin-right: 100px;
}
.sp-ml2{
    margin-left: 2px;
}
.sp-ml5{
    margin-left: 5px;
}
.sp-ml10{
    margin-left: 10px;
}
.sp-ml20{
    margin-left: 20px;
}
.sp-ml50{
    margin-left: 50px;
}
.sp-ml100{
    margin-left: 100px;
}
.link{
    cursor: pointer;
}
.float_right{
    float: right;
}

